@font-face {
  font-family: regular;
  src: url("./Fira_Sans/FiraSans-Regular.ttf");
}

@font-face {
  font-family: big;
  src: url("./Fira_Sans/FiraSans-Bold.ttf");
}

@font-face {
  font-family: semibold;
  src: url("./Fira_Sans/FiraSans-SemiBold.ttf");
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  width: 100vw;
  height: 60px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  z-index: 1000;
}

.navbar>ul{
  display: inline-block;
  text-decoration: none;
  list-style: none;
}

.NavLink{
  display: inline-block;
}

.navList{
  display: inline-block;
  color: black;
  margin-left: 8px;
  font-size: 18px;
  position: relative;
  top: -2.5px;
}

.bigNumber{
  color: #646AFF!important;
  font-size: 28px;
  font-family: "roboto";
  margin-left: 25px;
  display: inline-block;
}

.bodyContent{
  margin-top: 60px;
}

.socials{
  margin-left: 60px;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
}

.socialIcon{
  width: 36px;
  display:block;
}

.topMarginSocialIcon{
  margin-top: 30px;
}

.leftCenterText{
  margin-left: 180px;
  transform: translate(0, 40%);
  position: relative;
}

.title{
  font-family: big;
  font-size: 52pt;
}

.blue{
  color: #646AFF;
}

.noTopMargin{
  margin-top: 0;
}

.noBottomMargin{
  margin-bottom: 0;
}

.bigParagraph{
  font-family: regular;
  font-size: 18pt;
  width: 630px;
}

input{
  border-radius: 50px;
  border: none;
  background-color: #646AFF;
  color: white;
  font-size: 16pt;
  padding: 12.5px 25px;
  font-family: regular;
  cursor: pointer;
}

.rightLine{
  display: inline-block;
  width: 25%;
  margin-left: 20px;
  border: 0.8px solid #646AFF;
}

.leftLine{
  display: inline-block;
  width: 25%;
  margin-right: 20px;
  border: 0.8px solid #646AFF;
}

.or{
  display: inline-block;
  color: #646AFF;
  font-family: "roboto";
  font-weight: bold;
  font-size: 24pt;
}

.underIntro{
  position: relative;
  width: 400px;
  left: 180px; 
  margin-top: 160px;
}

.scrollPrompt{
  position: absolute;
  width: 50px;
  top: 93%;
  left: 180px;
}

.vertLine{
  border: 0.8px solid #646AFF;
  width: 0;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
}

.scroll{
  display: inline-block;
  margin-left: 20px;
  color: #646AFF;
  position: absolute;
  top: 0;
}

.me{
  border-radius: 100%;
  width: 100%;
}

.rightPhoto{
  position: relative;;
  left: 75%;
  width: 25%;
  transform: translate(-35%, -465px);
}

.scrollPrompt2{
  position: absolute;
  width: 200px;
  top: 99.5%;
  left: 180px;
}

.project{
  width: 100vw;
  height: 400px;
  background-color:rgba(0, 0, 0, 0.5);
  position: relative;
}

.coverImage{
  height: 100%;
  width: 100%;
  background-image: url("./photos/personalProject.png");
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(0, -253px);
  position: relative;
}

.groupProject{
  background-image: url("./photos/dynamo.png");
}

.projectDesc{
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translateY(-50%);
}

.projectTitle{
  color: #fff;
  font-weight: bold;
  font-size: 42pt;
  margin-bottom: 10px;
  margin-top: 0;
}

em{
  color: #fff;
  font-size: 20pt;
}

.viewBtn{
  padding: 10px 25px;
  font-size: 14pt;
  display: block;
}

.tag{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 15px;
  border-radius: 20px;
  width: fit-content;
  color: white;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.leftTag{
  margin-left: 0px!important;
}

.aboutMe{
  position: relative;
  margin-left: 60px;
  margin-top: -16%;
  transition: 1s;
}

.aboutMeTitle{
  font-size: 42pt;
  color: #646AFF;
}

.bigCard{
  width: 80vw;
  height: fit-content;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.aboutMeText{
  font-size: 14pt;
  width: 77%;
}

.skills>li{
  font-size: 14pt;
}

.skills{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.emphasis{
  font-size: 14pt;
  color: black;
}

.aboutMeQuote{
  color:#646AFF;
  font-weight: bold;
  font-size: 42pt;
}

.aboutMePicture{
  width: 25vw;
  border-radius: 10px;
  position: absolute;
  right: 60px;
  top: 65%;
}

.me2{
  width: 100%;
  border-radius: 10px;
}

.aboutMeBtn{
  margin-top: 30px;
  margin-bottom: 20px;
}

.contact{
  background-color: #646AFF;
  width: 100vw;
  margin-top: 180px;
  margin-left: 0!important;
  position: absolute;
}

.contactText{
  color: white;
  font-size: 16pt;
  margin-left: 30px;
  display: inline-block;
  margin-top: 0;
}

.contactIcon{
  width: 40px;
  margin-left: 60px;
  transform: translateY(30%);
}

.white{
  color: white;
}

.btnLink{
  text-decoration: none;
}

.noTranslate{
  transform: translate(0, 0);
}

.projectTitleDesc{
  width: 600px;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 9%;
}

.explanation{
  margin-left: 9%;
  margin-right: 9%;
}

.researchTitle{
  color:#646AFF;
  font-size: 36pt;
}

.researchSubtitle{
  font-size: 24pt;
  margin-bottom: 10px;
  cursor: pointer;
}

.researchQuestion{
  color: black;
  font-size: 14pt;
}

.researchText{
  font-size: 14pt;
}

.researchTag{
  background-color: white;
  border: 1px solid #777;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 5px 20px;
  color: black;
  margin-left: 20px;
  transition: 0.5s;
}

.researchTag:hover{
  transform: scale(1.1);
}

.researchImg{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.uizard{
  background-image: url('./photos/uizard.png');
}

.inspiration{
  background-image: url("./photos/cult (2).png");
  background-position: 0px -20px;
}

.design{
  background-image: url("./photos/uizard2.png");
  background-position: 0px -5px;
}

.testing{
  background-image: url("./photos/testing.png");
  background-position: 0px -100px;
}

a{
  text-decoration: none;
}

.coverImage2{
  background-image: url("./photos/dynamo.png");
}

#projects:target::before{
  content: ''; 
  display: block; 
  height: 310px; 
  margin: -310px 0 0 0;
}

#aboutMe:target::before{
  content: ''; 
  display: block; 
  height: 180px; 
  margin: -180px 0 0 0;
}

.internationalProject{
  background-image: url("./photos/cruyff.jpg");
}

.skill{
  width: 14.5vw;
  height: 20vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.skillOverlay{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.skillText{
  font-size: 20px;
  font-family: semibold;
  color: white;
}

.colorPsy{
  background-image: url("./photos/colorPsy.jpg");
  background-size: 50%;
  background-position: 0px -80px;
}

.iteration{
  background-image: url("./photos/iteration1.png");
  background-size: 60%;
}

.skillList{
  background-image: url("./photos/skillList.png");
  background-size: 60%;
}

.bielefeld{
  background-image: url("./photos/bielefelt\ discord.jpg");
  background-size: 70%;
}

@media only screen and (max-width: 1500px){
  .aboutMeQuote{
    font-size: 36pt;
  }

  .aboutMeText{
    font-size: 12pt;
  }
}

@media only screen and (max-width: 1200px){
  .aboutMeQuote{
    font-size: 24pt;
  }

  .aboutMePicture{
    width: 300px;
  }

  .aboutMeText{
    max-width: 7   0%;
  }

  .projectTitle{
    font-size: 28pt;
  }

  .project{
    height: 300px;
  }
}

@media only screen and (max-width: 1100px){
  .aboutMePicture{
    width: 250px;
    top: 70%;
    right: 20px;
  }

  .aboutMeText{
    max-width: 60%;
  }
}

@media only screen and (max-width: 900px){
  .aboutMePicture{
    display: none;
  }

  .aboutMeText{
    max-width: 90%;
  }

  .projectDesc{
    left: 50%;
  }
}

@media only screen and (max-width: 700px){
  .projectDesc{
    transform: translate(-50%, -50%);
    width: 90%;
  }
}

@media only screen and (max-width: 600px){
  .bigCard{
    padding-left: 20px;
    padding-right: 20px;
  }

  .compentences{
    text-align: center;
    width: 100%;
  }

  .aboutMe{
    margin-left: 20px;
  }

  .aboutMeText{
    text-align: center;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .skills{
    width: 100%;
  }

  .aboutMeQuote{
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .aboutMeBtn{
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1500px){
  .aboutMePicture{
    width: 350px;
  }
}